<section class="container-weather-forecast">

    <div class="container-weather">
        <div class="container-image">
            <img src="src/assets/img/icones/01d@2x.png" height="100" width="100">
        </div>

        <div class="container-text">
            <span class="tomorrow">Amanhã</span>

            <span class="tip-day">Dia ensolarado, Que tal uma caminhada ?</span>
        </div>
    </div>

    <div class="container-weather">

        <div class="container-image">
            <img src="src/assets/img/icones/09d@2x.png" height="100" width="100">
        </div>

        <div class="container-text">
            <span class="after-tomorrow">Depois de Amanhã</span>

            <span class="tip-day">Dia chuvoso, Que tal uma cobertinha?</span>
        </div>
    </div>
</section>