:is(section.container-informations) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-top: 22.5px;
    border-radius: var(--radius-00);
    background-color: var(--color-01);
}

:is(section.container-informations) :is(div[class|=container-information]) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 85%;
    width: 33.33%;
}

:is(section.container-informations) :is(div[class|=container-information]) :is(box-icon) {
    height: 30px;
    width: 30px;
    fill: var(--color-10);
}

:is(section.container-informations) :is(div[class|=container-information]) :is(box-icon[name|=cloud]) {
    fill: rgb(255, 255, 199);
}

:is(section.container-informations) :is(div[class|=container-information]) :is(box-icon[name|=wind]) {
    fill: rgb(242, 255, 1);
}

:is(section.container-informations) :is(div[class|=container-information]) :is(box-icon[name|=droplet]) {
    fill: rgb(120, 217, 255);
}

:is(section.container-informations) :is(div[class|=container-information]) :is(span[class|=information]) {
    color: var(--color-07);
}

:is(section.container-informations) :is(div[class|=container-information]):not(:last-child) {
    border-right: 1px solid var(--color-00);
}