<!DOCTYPE html>
<html lang="pt-br" ng-app="app">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Meteorology</title>
</head>

<body ng-controller="mainCtrl">

    <!-- Container Principal -->
    <main class="container-principal">

        <section class="container-informacoes">

            <div class="container-local">

                <h3>{{weather.local}}</h3>
            </div>

            <div class="container-temperatura">

                <img src="{{weather.icone}}" alt="Icone releacionado ao clima atual">

                <h2>{{weather.temperatura}}</h2>

                <h2>{{weather.clima()}}</h2>
            </div>

            <div class="container-extras">

                <span>{{weather.umidade}}</span>
            </div>

            <div class="container-horario">

                <button class="button-refresh">

                    <div class="container-horario">

                        <span>{{weather.horas()}}</span>
                    </div>

                    <div class="container-icone">

                        <i class='bx bx-refresh'></i>
                    </div>

                </button>
            </div>
        </section>

        <section class="container-busca">

            <input type="search" class="input-busca" ng-model="local">

            <button ng-click="send(local)">Enviar</button>
        </section>
    </main>

    <script src="lib/node_modules/angular/angular.min.js"></script>

    <script src="assets/js/app.js"></script>

    <script src="assets/js/controllers/main.js"></script>

    <script src="assets/js/factorys/request.js"></script>

    <script src="lib/node_modules/jquery/dist/jquery.min.js"></script>

</body>

</html>