<section class="container-weather-week">

    <div class="container-weather">

        <div class="container-image">
            <img src="src/assets/img/icones/01d@2x.png" height="100" width="100">
        </div>

        <div class="container-text">
            <span class="climate">Ensolarado</span>

            <span class="day-week">Segunda</span>
        </div>
    </div>

    <div class="container-weather">

        <div class="container-image">
            <img src="src/assets/img/icones/02d@2x.png" height="100" width="100">
        </div>

        <div class="container-text">
            <span class="climate">Poucas Nuvens</span>

            <span class="day-week">Terça</span>
        </div>
    </div>

    <div class="container-weather">

        <div class="container-image">
            <img src="src/assets/img/icones/03d@2x.png" height="100" width="100">
        </div>

        <div class="container-text">
            <span class="climate">Nublado</span>

            <span class="day-week">Quarta</span>
        </div>
    </div>

    <div class="container-weather">

        <div class="container-image">
            <img src="src/assets/img/icones/09d@2x.png" height="100" width="100">
        </div>

        <div class="container-text">
            <span class="climate">Chuva</span>

            <span class="day-week">Quinta</span>
        </div>
    </div>

    <div class="container-weather">

        <div class="container-image">
            <img src="src/assets/img/icones/01d@2x.png" height="100" width="100">
        </div>

        <div class="container-text">
            <span class="climate">Ensolarado</span>

            <span class="day-week">Sexta</span>
        </div>
    </div>

    <div class="container-weather">

        <div class="container-image">
            <img src="src/assets/img/icones/11n@2x.png" height="100" width="100">
        </div>

        <div class="container-text">
            <span class="climate">Trovoada</span>

            <span class="day-week">Sabado</span>
        </div>
    </div>

    <div class="container-weather">

        <div class="container-image">
            <img src="src/assets/img/icones/50d@2x.png" height="100" width="100">
        </div>

        <div class="container-text">
            <span class="climate">Neblina</span>

            <span class="day-week">Domingo</span>
        </div>
    </div>
</section>