<div class="container-title-section">

    <div class="container-location">
        <box-icon name="cloud-rain" type="solid"></box-icon>
        <span class="title">Previsão do Tempo</span>
    </div>

    <div class="container-more">
        <button class="more">Ver mais</button>
    </div>
</div>

<section class="container-weather-forecast">

    <div class="container-weather">
        <div class="container-image">
            <img src="src/assets/icons/01d@2x.png" height="100" width="100">
        </div>

        <div class="container-text">
            <span class="tomorrow">Amanhã</span>

            <span class="tip-day">Dia ensolarado, Que tal uma caminhada ?</span>
        </div>
    </div>

    <div class="container-weather">

        <div class="container-image">
            <img src="src/assets/icons/09d@2x.png" height="100" width="100">
        </div>

        <div class="container-text">
            <span class="after-tomorrow">Depois de Amanhã</span>

            <span class="tip-day">Dia chuvoso, Que tal uma cobertinha?</span>
        </div>
    </div>
</section>