<section class="container-informations">

    <div class="container-information-umimdade">
        <box-icon type="solid" name="cloud"></box-icon>
        <span class="information-umimdade">Nublado</span>
        <span>99%</span>
    </div>

    <div class="container-information-wind">
        <box-icon name="wind"></box-icon>
        <span class="information-umimdade">Vento</span>
        <span>0km/h</span>
    </div>

    <div class="container-information-droplet">
        <box-icon name="droplet" type="solid"></box-icon>
        <span class="information-umimdade">Umidade</span>
        <span>87%</span>
    </div>
</section>