:is(:root) {
    color-scheme: dark light;

    --header-height: 75px;

    --radius-00: 8px;

    --color-00: #1a1c1e;
    --color-01: #202329;
    --color-02: #3d434f;
    --color-03: #5b6475;
    --color-05: #5b6475;
    --color-05: #8e8e8e;
    --color-06: #a6a6a6;
    --color-07: #bbbbbb;
    --color-08: #cdcdcd;
    --color-09: #dddddd;
    --color-10: #ffffff;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #181a1e !important;
        color: #ffffff !important;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff !important;
        color: #1a1a1a !important;
    }
}