<div class="container-title-section ng-scope">

    <div class="container-location">
        <box-icon name="image" type="solid"></box-icon>
        <span class="title">Imagens da localização</span>
    </div>

    <div class="container-more">
        <button class="more">Ver mais</button>
    </div>
</div>

<section class="container-image-location">
    <div class="container-image">
        <img src="src/assets/images/Guararema.jpg" height="100%" width="100%">

        <div class="container-information">
            <span class="city">Guararema</span>
            <p class="introduction">Ponte sobre o Rio Paraíba do Sul</p>
        </div>
    </div>
</section>