<div class="container-title-section ng-scope">

    <div class="container-location">
        <box-icon name="calendar" type="solid"></box-icon>
        <span class="title">Clima da Semana</span>
    </div>

    <div class="container-more">
        <button class="more">Ver mais</button>
    </div>
</div>

<section class="container-weather-week">

    <div class="container-weather">

        <div class="container-image">
            <img src="src/assets/icons/01d@2x.png" height="100" width="100">
        </div>

        <div class="container-text">
            <span class="climate">Ensolarado</span>

            <span class="day-week">Segunda</span>
        </div>
    </div>

    <div class="container-weather">

        <div class="container-image">
            <img src="src/assets/icons/02d@2x.png" height="100" width="100">
        </div>

        <div class="container-text">
            <span class="climate">Poucas Nuvens</span>

            <span class="day-week">Terça</span>
        </div>
    </div>

    <div class="container-weather">

        <div class="container-image">
            <img src="src/assets/icons/03d@2x.png" height="100" width="100">
        </div>

        <div class="container-text">
            <span class="climate">Nublado</span>

            <span class="day-week">Quarta</span>
        </div>
    </div>

    <div class="container-weather">

        <div class="container-image">
            <img src="src/assets/icons/09d@2x.png" height="100" width="100">
        </div>

        <div class="container-text">
            <span class="climate">Chuva</span>

            <span class="day-week">Quinta</span>
        </div>
    </div>

    <div class="container-weather">

        <div class="container-image">
            <img src="src/assets/icons/01d@2x.png" height="100" width="100">
        </div>

        <div class="container-text">
            <span class="climate">Ensolarado</span>

            <span class="day-week">Sexta</span>
        </div>
    </div>

    <div class="container-weather">

        <div class="container-image">
            <img src="src/assets/icons/11n@2x.png" height="100" width="100">
        </div>

        <div class="container-text">
            <span class="climate">Trovoada</span>

            <span class="day-week">Sabado</span>
        </div>
    </div>

    <div class="container-weather">

        <div class="container-image">
            <img src="src/assets/icons/50d@2x.png" height="100" width="100">
        </div>

        <div class="container-text">
            <span class="climate">Neblina</span>

            <span class="day-week">Domingo</span>
        </div>
    </div>
</section>