:is(section.container-weather-week) {
    display: flex;
    width: 100%;
    overflow-x: scroll;
}

:is(section.container-weather-week) :is(div) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 190px;
    min-width: 130px;
    border-radius: var(--radius-00);
    color: var(--color-05);
    background-color: var(--color-01);
}

:is(section.container-weather-week) :is(div):not(:last-child) {
    margin-right: 20px;
}