<section class="container-main-temperature">

    <div class="container-main-temperature-degrees-description">
        <span class="degrees">{{meteorology.temperature}}</span>
        <span class="description">{{meteorology.climate}}</span>
    </div>

    <div class="container-main-temperature-image-refresh">

        <button class="button-refresh">
            <span class="container-refresh">
                <box-icon name='refresh'></box-icon>
            </span>
            <img src="{{meteorology.icon}}" alt="Imagem relacionado ao clima atual" class="image">
        </button>
    </div>
</section>